## .NET
bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docstates

## Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/

## NuGet
*.nupkg
**/packages/*
project.lock.json
project.fragment.lock.json
artifacts/

## VS Code
.vscode/

## Visual Studio
.vs/
*.rsuser
*.cache

## OS
Thumbs.db
ehthumbs.db
Desktop.ini
.DS_Store

## Environment
*.env
