MONGODB_CONNECTION_STRING=
MONGODB_DATABASE_NAME=AiInterviewDb

JWT_SECRET=
JWT_ISSUER=AIInterviewSimulator
JWT_AUDIENCE=AIInterviewSimulatorUsers
JWT_EXPIRY_MINUTES=120

OPENAI_API_KEY=
OPENAI_BASE_URL=https://api.openai.com/v1/
OPENAI_MODEL=gpt-4o-mini
